.card-header {
    display: flex;
    justify-content: space-between;

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;

        h5 {
            margin-bottom: 0px !important;
        }
    }
}